.sign-up {
  position: relative;
  a {
    text-decoration: none;
  }

  display: flex;
  justify-content: center;

  height: 100%;

  &__box {
    transition: margin-top 1s;

    margin-top: auto !important;
    margin-bottom: auto !important;

    form {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    &-header {
      text-align: center;
    }

    mat-form-field {
      width: 100%;
    }
  }

  app-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    &:empty {
      display: none;
    }
  }
}
