<div class="sign-up">
  <div class="sign-up__background"></div>
  <div class="sign-up__box" *ngIf="!showLoading">
    <mat-card>
      <h1 class="sign-up__box-header">تغییر رمزعبور</h1>
      <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field>
          <mat-label>رمزعبور</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="newPassword"
            required
          />
          <span
            type="button"
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
          >
            <i
              class="fal"
              [ngClass]="{
                'fa-eye': hidePassword,
                'fa-eye-slash': !hidePassword
              }"
            ></i>
          </span>
          <mat-error *ngIf="password.invalid"
            >ورود رمزعبور الزامی است!</mat-error
          >
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">تغییر</button>
      </form>
    </mat-card>
  </div>
  <app-loading *ngIf="showLoading"></app-loading>
</div>
