<div class="home">
  <img class="home__logo" src="../../../assets/bigdata.png" />
  <div class="home__title">
    به سیستم جمع‌آوری دیتا، <strong>سجاد</strong> خوش آمدید.
  </div>
  <mat-divider></mat-divider>
  <div class="home__content">
    <p>
      این سامانه توسط گروه پژوهشی کلان داده دانشگاه اصفهان، به منظور تولید
      مجموعه داده جهت پروژه سیستم پرسش و پاسخ فارسی ایجاد شده است.
    </p>
    <p>پیشاپیش از همکاری شما با این پروژه سپاسگزاریم.</p>
    <p>
    </p>
  </div>
  <a mat-raised-button color="accent" routerLink="AddQuestion">شروع</a>
</div>
