<mat-toolbar color="accent">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <i class="fal fa-bars"></i>
  </button>
  <a mat-button routerLink="/">
    <span>سجاد</span>
  </a>
  <span class="spacer"></span>
  <button mat-button *ngIf="token !== 'undefined'" (click)="logout()">خروج</button>
  <img class="logo" src="../assets/bigdata.png" />
  <img class="logo" src="../assets/UILogo.png" />
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
